* {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-family: "Dancing Script";
    font-size: 30px;
    color: #f2eeb3;
    background-size: cover;
}
header h1 {
    background-image: url("cva/images/fon.jpg");
    background-size: cover;
    height: 808px;
    text-align: center;
    padding-top: 120px;
}
.nav {
    background-color: #bfaf80;
    display: block;
    width: 100%;
    height: 55px;
    max-width: 100%;
    min-width: 50%;
}
.nav li{
    font-family: "Indie Flower";
    font-size: 30px;
    font-weight: bold;
    display: inline;
    margin-left: 22%;
}
.btn {
    text-decoration: none;
    color: #59323c;
}
main {
    width: 100%;
    height: 800px;
    display: inline-block;
    background-image: url("cva/images/fon2.jpg");
    background-size: cover;
}
aside {
    float: right;
    width: 40%;
    height: 800px;
    overflow: hidden;
}
h4 {
    text-align: center;
    font-family: "Dancing Script";
    font-size: 30px;
    color: #f2eeb3;
}
article{
    float: left;
    width: 60%;
    height: 800px;
    overflow: hidden;
    text-align: center;
    color: #ffec15;
    text-align: center;
}
article img {
    border: 1px solid;
    border-radius: 100%;
    border-color: #260126;
    width: 450px;
    height: 450px;
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
}
article h2 {
    overflow: hidden;
    font-family: "Niconne", cursive;
    font-size: 45px;
}
article p{
    overflow: hidden;
    font-family: "Niconne";
}
footer{
    background-color: #260126;
    width: 100%;
    color: #f2eeb3;
    text-align: center;
}
.logo {
    width: 50px;
    height: 50px;
}