*{
    margin: 0;
    padding: 0;
}
.header {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.header h1{
    font-family: "Dancing Script";
    margin-bottom: 250px;
    color: #f2eeb3;
    top: 25%;
    left: 30%;
    position: absolute;
}
.nav {
    display: inline-block;
    width: 100%;
    height: 75px;
    background-color: #bdaf80;
    font-family: "Indie Flower";
}
.nav li {
    display: inline;
}
main {
    width: 100%
    height: 100%;
    inline-block;
}
.music{
    float: left;
    width: 25%;
    text-align: center;
    font-family: "Dancing Script";
    overflow: hidden;
}
.article {
    width: 50%;
    overflow: hidden;
    font-family: "Dancing Script";
}
.article img{
    height: 50%;
    width: 50%;
}
.calendar {
    width: 25%;
    overflow: hidden;
}
.footer {
    display: inline-block;
    width: 100%;
    height: 140px;
    background-color: #260126;
    font-family: "Dancing Script";
    color: #f2eeb3
}
.logo{
    width: 75px;
    height: 75px;
    border: 1px solid;
    border-radius: 50%;
}
